.DS_Store
Thumbs.db

.vscode/
.idea/

.env
config/db_config.php

*.log
tmp/
temp/
cache/


public/uploads/*
!public/uploads/.gitkeep
!public/uploads/posts/
public/uploads/posts/*
!public/uploads/posts/.gitkeep